= form_for @debt, html: { class: "form form-horizontal debt" } do |f|
  .form-group
    = f.label :contact_id, class: 'control-label'
    .controls
      = f.text_field :contact_id, class: 'form-control', required: true
    = error_span(@debt[:contact_id])
  .form-group
    = f.label :quantity, class: 'control-label'
    .controls
      = f.text_field :quantity, class: 'form-control', required: true
    = error_span(@debt[:quantity])
  .form-group
    = f.label :description, class: 'control-label'
    .controls
      = f.text_field :description, class: 'form-control', required: true
    = error_span(@debt[:description])
  .form-group
    = f.label :type_cd, class: 'control-label'
    .controls
      = f.text_field :type_cd, class: 'form-control', required: true
    = error_span(@debt[:type_cd])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), debts_path, :class => 'btn btn-default'
