- model_class = Debt
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:user_id)
      %th= model_class.human_attribute_name(:contact_id)
      %th= model_class.human_attribute_name(:quantity)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:type_cd)
      %th= model_class.human_attribute_name(:status_cd)
      %th= model_class.human_attribute_name(:created_by_cd)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @debts.each do |debt|
      %tr
        %td= link_to debt.id, debt_path(debt)
        %td= debt.user_id
        %td= debt.contact_id
        %td= debt.quantity
        %td= debt.description
        %td= debt.type_cd
        %td= debt.status_cd
        %td= debt.created_by_cd
        %td=l debt.created_at
        %td
          = link_to edit_debt_path(debt) do
            .btn.btn-default
              = 'Edit'
        %td
          = link_to debt_path(debt), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do
            .btn.btn-danger
              = 'Delete'

= link_to :new_debt do
  .btn.btn-primary
    = 'Add Debt'
