<p id="notice"><%= notice %></p>

<p>
  <strong>Contact:</strong>
  <%= @debt.contact.name if  @debt.contact %>
</p>

<p>
  <strong>Type</strong>
  <%= @debt.type %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @debt.quantity %>
</p>

<p>
  <strong>Description:</strong>
  <%= @debt.description %>
</p>

<%= link_to 'Edit', edit_debt_path(@debt) %> |
<%= link_to 'Back', debts_path %>
